requests==2.31.0
beautifulsoup4==4.12.2
psycopg2-binary==2.9.7
python-dotenv==1.0.0
PyYAML==6.0
SQLAlchemy==2.0.19
fastapi
uvicorn[standard]
apscheduler==3.10.1
dependency-injector==4.41.0
playwright==1.49.0
